form {
    border-radius: 3mm solid;
    border-color: black;
    padding-top: 1cm;
    width: 8cm;
}

h2 {
    margin-left: 33%;
    margin-top: 5%;
    color: #363232;
}

.form-label {
    color: black;
}

.container {
    display: flex;
    width: 12cm;
    margin-left: 33%;
    justify-content: center;
    border-radius: 4mm;
    height: 10cm;
    border: 3px solid #979494;
}

.btn2 {
    margin-left: 4cm;
    border-radius: 1mm;
    height: 1cm;
}