.container {
    display: flex;
    width: 15cm;
    margin-left: 28%;
    margin-top: 9%;
    background-color: rgb(241, 241, 239);
    border-radius: 4mm;
}

.pass {
    width: 5.75cm;
    height: 1cm;
    color: transparent gray;
}

.for {
    width: 6cm;
    height: 1cm;
    color: transparent gray;
}

.form-control {
    border-color: gray;
}

form {
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 0.5cm;
}