<nav class="navbar navbar-expand-lg navbar-light bg-light height:1.2cm">
    <img class="win-img" src="./assets/win.png">
    <h3 class="navbar-brand navbar-red bg-light"><a class="nav-link active" routerLink="">BookStore</a></h3>
</nav>

<body class="body">
    <div class="header-content">
        <header>
            <img class="book-img" src="./assets/book.png"> BookStore
            <input class="input" type="search" placeholder="search" />
            <label>cart</label>
            <img class="cart-img" src="./assets/cart.png">
        </header>
    </div>
    <img class="img" src="./assets/crack.png">
    <h6 class="final-head">Order Placed Successfully</h6>
    <p class="p1">hurray!!! your order is confirmed</p>
    <p class="p2">the order id is #123456 save the order id for</p>
    <p class="p3">further communication..</p>
    <table class="table">
        <tr class="tr">
            <td class="proo">Email us</td>
            <td class="pro">Contact us</td>
            <td class="pro">Address</td>
        </tr>
        <tr class="tr1">
            <td class="pr1">dhanashreehakke7@gmail.com</td>
            <td class="pr2">1234567890</td>
            <td class="pr2">A/p- Kavalapur, Near p.v.p.i.t collage of engineering</td>
        </tr>
    </table>

    <div>
        <button class="final-butt" (click)="onClick()">Continue Shopping</button>
    </div>
    <app-footer>
    </app-footer>